.products{
    height: 400px;
    width: auto;
    background-color: rgb(222, 235, 235);
}

.cartsection{
     
    width: auto;
    background-color: rgb(250, 250, 250);
    padding: 15px;
}

.cart{
    height: auto;
    width: auto;
    border: 1px solid red;
    padding: 20px;
    
}
.cart ul li{
    display: flex;
    justify-content: space-between;
 list-style-type: none;
 font-size: 18px;
}

.singlecard:hover{
    transform: scale(1.2);
    animation-duration: 0.7;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
